body {
    background-color: #99b3ff;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ccd9ff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

#headerLogin {
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-bottom:10px;*/
    background-color: #002080;
    color: white;
}

#sectionLogin {
    background-color: #99b3ff;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footerLogin {
    background-color: #002080;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

a.nav-link {
    color: white;
}

    a.nav-link:hover {
        color: lightcoral;
    }

    a.nav-link:focus {
        color: lightcoral;
    }

.panel-default {
    background-color: #ddd;
}

.panel {
    margin-bottom: 60px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
}

.panel-group {
    margin-bottom: 5px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid;
}

.panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    color: white;
}

.panel-body {
    padding: 15px;
}
