@model Dictionary<DateTime, List<Termin>>


    <script>
        function ajaxPacijent(id) {
            $.ajax
                ({
                    type: "POST",
                    url: "/Doctor/detaljiTermin",
                    data: '{id: "' + id + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        $("#ime").text(response.ime);
                        $("#prezime").text(response.prezime);
                        $("#datumRodjenja").text(response.datumRodjenja);
                        $("#pol").text(response.pol);
                        $("#telefon").text(response.telefon);
                        $("#mail").text(response.mail);
                        $("#osiguran").text(response.osiguran);
                        $("#hronicar").text(response.hronicar);
                        $("#opis").text(response.opis);
                        $('#myModal').modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
        }
    </script>
@functions
    {
    string Dan(DateTime format)
    {

        switch (format.DayOfWeek)
        {
            case DayOfWeek.Monday: { return "ponedeljak"; }
            case DayOfWeek.Tuesday: { return "utorak"; }
            case DayOfWeek.Wednesday: { return "sreda"; }
            case DayOfWeek.Thursday: { return "cetvrtak"; }
            case DayOfWeek.Friday: { return "petak"; }
            case DayOfWeek.Saturday: { return "subota"; }
            default: { return "nedelja"; }
        }
    }
}
@{
    Dictionary<DateTime, List<Termin>>[] nedelje = new Dictionary<DateTime, List<Termin>>[5];
    for (int i = 0; i < 5; i++)
    {
        nedelje[i] = new Dictionary<DateTime, List<Termin>>();
    }
    for (int i = 0; i < Model.Count; i++)
    {
        if (i >= 0 && i <= 6)
        {
            nedelje[0].Add(Model.ElementAt(i).Key, Model.ElementAt(i).Value);
        }
        else if (i >= 7 && i <= 13)
        {
            nedelje[1].Add(Model.ElementAt(i).Key, Model.ElementAt(i).Value);
        }
        else if (i >= 14 && i <= 20)
        {
            nedelje[2].Add(Model.ElementAt(i).Key, Model.ElementAt(i).Value);
        }
        else if (i >= 21 && i <= 27)
        {
            nedelje[3].Add(Model.ElementAt(i).Key, Model.ElementAt(i).Value);
        }
        else
        {
            nedelje[4].Add(Model.ElementAt(i).Key, Model.ElementAt(i).Value);
        }
    }
}

@for (int i = 0; i < 5; i++)
{
    <div class="row">
        @foreach (KeyValuePair<DateTime, List<Termin>> pom in nedelje[i])
        {
            <div class="col" style="padding:1px">
                <div class="list-group">
                    <a href="#" class="list-group-item" @if (pom.Key.DayOfWeek == DayOfWeek.Saturday || pom.Key.DayOfWeek == DayOfWeek.Sunday) { <text> style="background-color:#ff9900;color:white" </text> } else { <text> style="background-color:#1a8cff;color:white" </text>}>
                        <h4 class="list-group-item-heading" style="font-size:11px">@pom.Key.Day . @Dan(pom.Key)</h4>
                    </a>
                    @if (pom.Value.Count == 0)
                    {
                        if (pom.Key.DayOfWeek == DayOfWeek.Saturday || pom.Key.DayOfWeek == DayOfWeek.Sunday)
                        {
                            <a href="#"  class="list-group-item" style="border:1px solid;border-color:#ff9900;border-radius:8px;background-color:#ffd9b3;color:#ff9900">
                                <p class="list-group-item-text">Vikend</p>
                            </a>
                        }
                        else
                        {
                            <a href="#" class="list-group-item" style="border:1px solid;border-color:blue;border-radius:8px;background-color:#e6e6ff">
                                <p class="list-group-item-text">Nema termina</p>
                            </a>
                        }
                    }
                    else
                    {
                        foreach (Termin t in pom.Value)
                        {
                            <a href="#" class="list-group-item" style="border:1px solid;border-color:blue;border-radius:8px;background-color:#e6f3ff" onclick="ajaxPacijent('@t.idTermin')">
                                <p class="list-group-item-text">@t.TerminPocetak.ToString("HH:mm")-@t.TerminKraj.ToString("HH:mm")</p>
                            </a>
                        }
                    }
                </div>
            </div>
        }
        @if(nedelje[i].Count < 7)
        {
            for(int j = 0;j<7-nedelje[i].Count;j++)
            {
                <div class="col" style="padding:1px">

                </div>
            }
        }
    </div>
}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#e74c3c">
                        <h1 class="panel-title">Licni Podaci</h1>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <tr>
                                <td><strong>Ime:</strong></td>
                                <td id="ime"></td>
                            </tr>
                            <tr>
                                <td><strong>Prezime:</strong></td>
                                <td id="prezime"></td>
                            </tr>
                            <tr>
                                <td><strong>Datum Rodjenja:</strong></td>
                                <td id="datumRodjenja"></td>
                            </tr>
                            <tr>
                                <td><strong>Pol:</strong></td>
                                <td id="pol"></td>
                            </tr>
                            <tr>
                                <td><strong>Telefon:</strong></td>
                                <td id="telefon"></td>
                            </tr>
                            <tr>
                                <td><strong>Mail:</strong></td>
                                <td id="mail"></td>
                            </tr>
                            <tr>
                                <td><strong>Osiguran:</strong></td>
                                <td id="osiguran"></td>
                            </tr>
                            <tr>
                                <td><strong>Hronicar:</strong></td>
                                <td id="hronicar"></td>
                            </tr>
                            <tr>
                                <td><strong>Opis:</strong></td>
                                <td id="opis"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>